# CO, CO2, H2O, O3 sensors
In-situ measurements of trace gas species such as Carbon monoxide (CO), carbon dioxide (CO2) and water vapor (H2O) and ozone (O3).

Each textfile contains the data obtained during a single flight. The file contains the time, location and mixing ratios for CO, CO2, H2O and O3.

Please note, There are no CO data available for ACLOUD flight #23 because of an instrumental failure. For ACLOUD flight #14, there are no O3 data available after 12:58:37 UTC.

The following example demonstrates the use of the trace gas mixing ratios collected during the ACLOUD campaign.

If you have questions or if you would like to use the data for a publication, please don't hesitate to get in contact with the dataset authors as stated in the dataset attributes `contact` or `author`.


## Data access
* To analyse the data they first have to be loaded by importing the (AC)³airborne meta data catalogue. To do so the ac3airborne package has to be installed. More information on how to do that and about the catalog can be found [here](https://github.com/igmk/ac3airborne-intake#ac3airborne-intake-catalogue).

In [1]:
import os
from dotenv import load_dotenv

load_dotenv()

# local caching
kwds = {'simplecache': dict(
    cache_storage=os.environ['INTAKE_CACHE'], 
    same_names=True
)}

## Get data

In [1]:
import ac3airborne

List of flights, where OPC data is available:

In [2]:
cat = ac3airborne.get_intake_catalog()

datasets = []
for campaign in ['ACLOUD']:
    datasets.extend(list(cat[campaign]['P6']['CO_CO2_H2O']))
datasets

['ACLOUD_P6_RF07',
 'ACLOUD_P6_RF08',
 'ACLOUD_P6_RF09',
 'ACLOUD_P6_RF10',
 'ACLOUD_P6_RF11',
 'ACLOUD_P6_RF12',
 'ACLOUD_P6_RF13',
 'ACLOUD_P6_RF14',
 'ACLOUD_P6_RF15',
 'ACLOUD_P6_RF16',
 'ACLOUD_P6_RF17',
 'ACLOUD_P6_RF18',
 'ACLOUD_P6_RF19',
 'ACLOUD_P6_RF20',
 'ACLOUD_P6_RF21',
 'ACLOUD_P6_RF22',
 'ACLOUD_P6_RF23',
 'ACLOUD_P6_RF24',
 'ACLOUD_P6_RF25']

## Dataset
To get an overview of the variables recorded by the trace gas sensors, we load the dataset of the first ACLOUD flight `ACLOUD_P6_RF07`.

In [ ]:
ds_co_co2 = cat['ACLOUD']['P6']['CO_CO2_H2O']['ACLOUD_P6_RF07'](storage_options=kwds).read()
ds_co_co2

/usr/lib/python3/dist-packages/dask/dataframe/utils.py:14: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

,ID,Date/Time,Altitude [m],Latitude,Longitude,CO mix ratio [ppbv],CO2 mix ratio [ppmv],WV mix ratio [ppmv],O3 mix ratio [ppbv]
0,P6_07,2017-05-27T13:01:59,31.0,78.2458,15.4716,108.92,413.86,2983.6,NaN
1,P6_07,2017-05-27T13:02:00,32.0,78.2459,15.4696,108.22,413.83,2921.0,22.28
2,P6_07,2017-05-27T13:02:01,34.0,78.2460,15.4676,107.44,413.82,2864.0,NaN
3,P6_07,2017-05-27T13:02:02,36.0,78.2461,15.4656,106.80,413.83,2901.5,20.71
4,P6_07,2017-05-27T13:02:03,39.0,78.2462,15.4636,107.95,413.90,2923.6,NaN
...,...,...,...,...,...,...,...,...,...
12294,P6_07,2017-05-27T16:26:53,29.0,78.2477,15.4373,109.24,413.71,2910.0,NaN
12295,P6_07,2017-05-27T16:26:54,29.0,78.2476,15.4392,108.98,413.63,2904.0,19.52
12296,P6_07,2017-05-27T16:26:55,29.0,78.2475,15.4411,107.97,413.61,2897.2,NaN
12297,P6_07,2017-05-27T16:26:56,30.0,78.2474,15.4430,107.99,413.69,2900.1,19.23
12298,P6_07,2017-05-27T16:26:57,30.0,78.2473,15.4448,109.15,413.72,2960.1,NaN

### View variables